<h1> dd/mm/aaaa</h1>

<% form_for(@periodo) do |f| %>
  <%= f.error_messages %>
<div class="grid_2">
    <%= f.label :entrada %>
    <%= f.text_field :entrada %>
  </div>
  <div class="grid_2">
    <%= f.label :saida %>
    <%= f.text_field :saida %>
  </div>
 <div class="grid_2">
    <%= f.label :tarefa %>
    <%= f.text_field :tarefa %>
  </div>
 <div class="grid_1">
    <%= f.submit 'Update' %>
  </div>
<% end %>
<div class="grid_1">
<%= link_to 'Back', periodo_path %>
</div>