
<p>
  <b>entrada:</b>
  <%=h @periodo.entrada %>
</p>

<p>
  <b>saida:</b>
  <%=h @periodo.saida %>
</p>

<p>
  <b>Tarefa:</b>
  <%=h @periodo.tarefa %>
</p>

<%= link_to 'Edit', edit_periodo_path(@periodo) %> |
<%= link_to 'Back', periodos_path %>