<% unless comment.blank? || comment.text.blank? %><h3 class="grid_14 prefix_1 suffix_1">Comments</h3><% end %>
<% if session[:user].role == User::ADMIN  %>
	<% remote_form_for :comment, comment, :url => {:controller=>:comment, :action=>:save, :report=>report, :question=>question}, :update=>"comment_#{question}" do |f| %>
		<p class="grid_14 prefix_1 suffix_1"><%= flash[:notice] %></p>
		<div class="grid_1">&nbsp;</div><%= f.text_area :text, :class=>"grid_14", :id=>"comment_text_#{question}" %>
		<div class="grid_14 prefix_1">
			<%= f.submit "Save", :id=>"comment_submit_#{question}"%>
			<%= button_to_remote "Cancel", :url => {:controller=>:comment, :action=>:show, :report=>report, :question=>question}, :update=>"comment_#{question}" %>
		</div>
	<% end %>
<% else %>
	<div class="grid_14 prefix_1">
		<%= comment.text.gsub("\n", '<br />') unless comment.nil? || comment.text.nil? %>
	</div>
<% end %>