<h1>Editar projeto</h1>

<% form_for(@projeto) do |f| %>
  <%= f.error_messages %>

<div class="grid_2">
    <%= f.label :nome %>
    <%= f.text_field :name %>
  </div>
  <div class="grid_2">
    <%= f.label :Código %>
    <%= f.text_field :u_id %>
  </div>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>


<%= link_to 'Back', projetos_path %>