<h1>Editing projeto</h1>

<% form_for(@projeto) do |f| %>
  <%= f.error_messages %>

<div class="grid_2">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="grid_2">
    <%= f.label :u_id %>
    <%= f.text_field :u_id %>
  </div>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @projeto %> |
<%= link_to 'Back', projetos_path %>