
<p class="grid_12 prefix_2 suffix_2" style="margin-bottom: 48px;">
	This survey is sponsored by a consumer products company interested in your sentiments about what a healthy mouth means to you. There are no personal identification questions and it should take you just a couple of minutes to complete the user-friendly, interactive questions.  Thank you for agreeing to participate in this survey.  We sincerely appreciate your time and feedback.</p>

<% form_for controller_name, :url=>{:action=>'questions', :id=>(@question_number + 1)}, :html=>{:id=>"#{controller_name}_form"} do |f| -%>
	<br class="clear" />
	
	<h1 class="grid_12 prefix_1 ">What's your age?</h1>
	<div class="vgutter enclose" style="margin-bottom: 48px;">
		<div class="grid_16">
			<%# f.select :age_group_id, AgeGroup.options_for_select, {:prompt=>"select your age group"}, {:class=>'grid_4 select'} %>
			<% i=0 %>
			<% AgeGroup.all.each do |age_group| %>
				<div class="grid_4 markable_item <%= i==0 ? "alpha" : ("omega" if i%3==0) %>" style="text-align: center;padding: 4px 0px 4px 0px;">
					<%= f.label :"age_group_id_#{age_group.id}", image_tag(age_group.to_img, :alt=>age_group.to_label) %>
					<br />
					<br />
					<%= f.radio_button :age_group_id, age_group.id %>
					<%= f.label :"age_group_id_#{age_group.id}", age_group.to_label %>
				</div>
				<% i+= 1 %>
			<% end %>
		</div>
	</div>
	<br class="clear" />
	
	<h1 class="grid_12 prefix_1 ">Pick your gender:</h1>
	<div class="grid_10 prefix_3" style="margin-bottom: 48px;">
		<div class="grid_4 markable_item" style="text-align:center;">
			<%= f.label :gender_m, image_tag('man.png', :alt=>"Male") %>
			<br />
			<br />
			<%= f.radio_button :gender, 'M' %><%= f.label :gender_m, " Male" %>
		</div>
		<div class="grid_4 markable_item" style="text-align:center;">
			<%= f.label :gender_f, image_tag('woman.png', :alt=>"Female") %>	
			<br />
			<br />
			<%= f.radio_button :gender, 'F' %><%= f.label :gender_f, " Female" %>
		</div>
	</div>
	<br class="clear" />
	
	<h1 class="grid_12 prefix_1 ">Please tell us your income range: </h1>
	<div class="vgutter enclose">
		<div class="grid_16">
			<% i=0 %>
			<% IncomeGroup.all.each do |income_group| %>
				<div class="grid_3 markable_item" style="text-align:center;">
					<%= f.label :"income_group_id_#{income_group.id}", image_tag(income_group.to_img, :alt=>income_group.label) %>
					<br />
					<br />
					<%= f.radio_button :income_group_id, income_group.id %>
					<%= f.label :"income_group_id_#{income_group.id}", income_group.label %>
				</div>
				<% i+= 1 %>
			<% end %>
		</div>
	</div>
			
	<%= render :partial=>'navigation' %>

<% end -%>

	<div class="grid_16">&nbsp;</div>
	<%= render :partial=>'public/legal_rights' %>