
	<% content_for :question do %><%= title %><% end %>
	
	
	<div class="grid_2	">
		<% (0...ColgateSurvey::NUMBER_OF_ORAL_CARE_WORDS).each do |i| %>
	<div class="grid_4 care center "><%= @colgate.oral_care_words[i].name %></div>
	<%end%>
	</div>

	
	<% form_for controller_name, :url=>{:action=>'questions', :id=>(@question_number + 1)}, :html=>{:id=> "#{controller_name}_form"} do |f| -%>
		<div class="vgutter enclose">
			<div class="grid_2">&nbsp;</div>
			<div class="grid_3">
			<% OccasionWord.all.shuffle.each do |occasion_word| %>
				<div class="draggable occasion" id="<%= dom_id occasion_word %>">
					<%= occasion_word.name %>
				</div>
			<% end %>
			</div>
			<div class="grid_6 prefix_1">
				<div class="droppable luxury_words">
					<p>1</p>
				</div>
			</div>
				<div class="grid_6 prefix_1">
					<div class="droppable luxury_words">
						<p>2</p>
					</div>
				</div>
					<div class="grid_6 prefix_1">
						<div class="droppable luxury_words">
							<p>3</p>
						</div>
					</div>

		</div>

		<%= render :partial=>'navigation' %>
	<% end -%>

	<% content_for :javascript do %>
	<script type="text/javascript">
		function addToForm(event,ui){
			var substring_index = ui.draggable.attr('id').search(/\d+/);
			var value = ui.draggable.attr('id').substring(substring_index);
			$("#<%= controller_name+'_form'%>").append('<input type="hidden" id="occasion_word_ids_'+ui.draggable.attr('id')+'" name="colgate[occasion_word_ids][]" value="'+value+'" />');
			ui.draggable.addClass("selected");
		}
		function removeFromForm(event, ui){
			$('#occasion_word_ids_'+ui.draggable.attr('id')).remove();
			ui.draggable.removeClass("selected");
		}
		$('.draggable').draggable();
		$(".droppable").droppable({
				tolerance: 'touch',
		     	drop: addToForm,
				out: removeFromForm
		    });
	</script>
	<% end %>

