<% content_for :question do %><%= title%>
<br/><div class="write">(Please select one statement for each category.)</div><% end %>

<% form_for controller_name, :url=>{:action=>'questions', :id=>(@question_number + 1)}, :html=>{:id=>"#{controller_name}_form"} do |f| -%>
	<div class="grid_16 vgutter enclose">
		<div class="grid_15 vgutter enclose center">
			<div class="grid_6 prefix_2">&nbsp;</div>
			<div class="grid_2">
				most appealing
			</div>
			<div class="grid_2">
				least appealing
			</div>
		</div>

			<div class="grid_15 vgutter enclose">
				
				<div class="grid_6 prefix_1 suffix_1"><%=StatementMostAppealing.all[0].name%></div>
				<div class="grid_2  center  ">
					<%= f.radio_button :statement_most_appealing_id, StatementMostAppealing.all[0].id  %>
					<%= f.label :"statement_most_appealing_id_#{StatementMostAppealing.all[0].id}", image_tag('yes.png', :alt=>'Most Appealing' ) %>
				</div>
				<div class="grid_2 center ">
					<%= f.radio_button :statement_last_appealing_id, StatementLastAppealing.all[0].id %>
					<%= f.label :"statement_last_appealing_id_#{StatementLastAppealing.all[0].id}", image_tag('no.png', :alt=>'Last Appealing' ) %>
					
				</div>
			</div>
			
			<div class="grid_15 vgutter enclose">
				<div class="grid_6 prefix_1 suffix_1"><%=StatementMostAppealing.all[1].name%></div>
				<div class="grid_2 center ">
					<%= f.radio_button :statement_most_appealing_id, StatementMostAppealing.all[1].id %>
					<%= f.label :"statement_most_appealing_id_#{StatementMostAppealing.all[1].id}", image_tag('yes.png', :alt=>'Most Appealing' ) %>
				</div>	
				<div class="grid_2 center ">
					<%= f.radio_button :statement_last_appealing_id, StatementLastAppealing.all[1].id %>
					<%= f.label :"statement_last_appealing_id_#{StatementLastAppealing.all[1].id}", image_tag('no.png', :alt=>'Last Appealing' ) %>
					
				</div>
			</div>
			
			<div class="grid_15 vgutter enclose">
				<div class="grid_6 prefix_1 suffix_1"><%=StatementMostAppealing.all[2].name%></div>
				<div class="grid_2 center ">
					<%= f.radio_button :statement_most_appealing_id,StatementMostAppealing.all[2].id %>
					<%= f.label :"statement_most_appealing_id_#{StatementMostAppealing.all[2].id}", image_tag('yes.png', :alt=>'Most Appealing' ) %>
				</div>	
				<div class="grid_2 center ">
					<%= f.radio_button :statement_last_appealing_id, StatementLastAppealing.all[2].id %>
					<%= f.label :"statement_last_appealing_id_#{StatementLastAppealing.all[2].id}", image_tag('no.png', :alt=>'Last Appealing' ) %>
					
				</div>
			</div>
			
			
			<div class="grid_15 vgutter enclose">
				<div class="grid_6 prefix_1 suffix_1"><%=StatementMostAppealing.all[3].name%></div>
				<div class="grid_2 center ">
					<%= f.radio_button :statement_most_appealing_id, StatementMostAppealing.all[3].id %>
					<%= f.label :"statement_most_appealing_id_#{StatementMostAppealing.all[3].id}", image_tag('yes.png', :alt=>'Most Appealing' ) %>
				</div>	
				<div class="grid_2 center ">
					<%= f.radio_button :statement_last_appealing_id, StatementLastAppealing.all[3].id %>
					<%= f.label :"statement_last_appealing_id_#{StatementLastAppealing.all[3].id}", image_tag('no.png', :alt=>'Last Appealing' ) %>
				</div>
			

		</div>
	</div>	
	<%= render :partial=>'navigation' %>
<% end -%>
