<% content_for :javascript do %>
<script type="text/javascript">
	function addToForm(event,ui){
		var substring_index = ui.draggable.attr('id').search(/\d+/);
		var value = ui.draggable.attr('id').substring(substring_index);
		$("#<%= controller_name+'_form'%>").append('<input type="hidden" id="oral_care_word_ids_'+ui.draggable.attr('id')+'" name="colgate[oral_care_word_ids][]" value="'+value+'" />');
		ui.draggable.addClass("selected");
		var dropped = $(this);
		dropped.droppable( "option", "disabled", true );
		ui.draggable.bind( "drag", function(event, ui) {
			$(this).removeClass("selected");
			dropped.droppable( "option", "disabled", false );
			$('#oral_care_word_ids_'+$(this).attr('id')).remove();
		});
	};
	$('.draggable').draggable();
	$(".droppable").droppable({
		tolerance: 'touch',
		drop: addToForm
	});
</script>
<% end %>
	<% content_for :question do %><%= title %><% end %>

	<div class="grid_4 prefix_6	">
	<% (0...ColgateSurvey::NUMBER_OF_ORAL_CARE_WORDS).each do |i| %>
	<div class="grid_4 care center "><%= @colgate.oral_care_words[i].name %></div>
	<%end%>
	</div>	
	
	<% form_for controller_name, :url=>{:action=>'questions', :id=>(@question_number + 1)}, :html=>{:id=>"#{controller_name}_form"} do |f| -%>
		<div class=" grid_16 vgutter enclose prefix_2 center">
			<% @colgate.toothpaste_words.each do |word| %>
				<div class="grid_4 markable_item" style="margin-bottom: 8px;margin-top: 8px;padding-left: 8px; padding-right: 8px;  ">
					<%= f.label "colgate_important_id_#{word.id}", image_tag(word.to_img)  %>
					<%= f.radio_button :colgate_important_id, word.id %>
				  	<%- f.label "colgate_important_id#{word.id}", word.name %>
				
          			
				</div>
			<% end %>
		</div>
		
	
		<%= render :partial=>'navigation'%>
	<% end -%>
