<% content_for :question do %><%= title%><% end %>

	<% form_for controller_name, :url=>{:action=>'questions', :id=>(@question_number + 1)}, :html=>{:id=>"#{controller_name}_form"} do |f| -%>
		<div class="grid_16 vgutter enclose">
			
			<div>	
				<div class="grid_6 vgutter prefix_2 ">
					<div class="grid_3 center pad2"><%=image_tag('floss.png', :alt=>'floss' ) %><%=@model::LABELS[:floss]%> </div>
				<% i=0 %>
				<% Floss.all.each do |floss| %>
				<div class="grid_2 pad2 ">	
					<%= check_box_tag "#{controller_name}[floss_ids][]", floss.id, @colgate.flosses.include?(floss), :id=>:"colgate_floss_ids_#{floss.id}" %>
					<%= f.label :"floss_ids_#{floss.id}", floss.name %><br/>
				</div>
				<% i+=1 %>
				<% end %>
				</div>	
			</div>	
			
			<div>
				<div class="grid_6 vgutter ">
					<div class="grid_3 center pad2 "><%=	image_tag('mouthwash.png', :alt=>'mouth wash' ) %><%=@model::LABELS[:mouth_wash]%></div>
				<% i=0 %>
				<% MouthWash.all.each do |mouth_wash| %>
				<div class="grid_2 pad2 ">
					<%= check_box_tag "#{controller_name}[mouth_wash_ids][]", mouth_wash.id, @colgate.mouth_washes.include?(mouth_wash), :id=>:"colgate_mouth_wash_ids_#{mouth_wash.id}" %>
					<%= f.label :"mouth_wash_ids_#{mouth_wash.id}", mouth_wash.name %>
				</div>
				<% i+=1 %>
				<% end %>
				</div>	
			</div>	
	
			<div>
				<div class="grid_6 vgutter prefix_2 ">
					<div class="grid_3 center pad2 "><%=image_tag('brush.png', :alt=>'toothpaste' ) %><%=@model::LABELS[:toothpaste]%></div>
					<% i=0 %>
					<% Toothpaste.all.each do |toothpaste| %>
					<div class="grid_2 pad2">	
						<%= check_box_tag "#{controller_name}[toothpaste_ids][]", toothpaste.id, @colgate.toothpastes.include?(toothpaste), :id=>:"colgate_toothpaste_ids_#{toothpaste.id}" %>
						<%= f.label :"toothpaste_ids_#{toothpaste.id}", toothpaste.name %>
					</div>
					<% i+=1 %>
					<% end %>
					</div>
				</div>		
		
		
			<div>
				<div class="grid_6 vgutter  ">
					<div class="grid_3 center pad2 "><%=image_tag('breathmints.png', :alt=>'breath mint' ) %><%=@model::LABELS[:breath_mint]%></div>
					<% i=0 %>
					<% BreathMint.all.each do |breath_mint| %>
					<div class="grid_2 pad2">
						<%= check_box_tag "#{controller_name}[breath_mint_ids][]", breath_mint.id, @colgate.breath_mints.include?(breath_mint), :id=>:"colgate_breath_mint_ids_#{breath_mint.id}" %>
					
						<%= f.label :"breath_mint_ids_#{breath_mint.id}", breath_mint.name %>
					</div>
					<% i+=1 %>
					<% end %>
				</div>	
			</div>
				
			<div>	
				<div class="grid_6 vgutter prefix_2 ">	
					<div class="grid_3 center pad2 "><%=image_tag('kit.png', :alt=>' whitening kit' ) %><%=@model::LABELS[:whitening_kit]%></div>
					<% i=0 %>
					<% WhiteningKit.all.each do |whitening_kit| %>
					<div class="grid_2 pad2">
						<%= check_box_tag "#{controller_name}[whitening_kit_ids][]", whitening_kit.id, @colgate.whitening_kits.include?(whitening_kit), :id=>:"colgate_whitening_kit_ids_#{whitening_kit.id}" %>
						<%= f.label :"whitening_kit_ids_#{whitening_kit.id}", whitening_kit.name %>
					</div>
					<% i+=1 %>
					<% end %>
				</div>
			</div>
				
			<div>		
				<div class="grid_6 vgutter ">	
					<div class="grid_3  "><%=image_tag('waterpik.png', :alt=>'water jet' ) %><%=@model::LABELS[:water_jet]%></div>
					<% i=0 %>
					<% WaterJet.all.each do |water_jet| %>
					<div class="grid_2 pad2 ">
						<%= check_box_tag "#{controller_name}[water_jet_ids][]", water_jet.id, @colgate.water_jets.include?(water_jet), :id=>:"colgate_water_jet_ids_#{water_jet.id}" %>
						<%= f.label :"water_jet_ids_#{water_jet.id}", water_jet.name %>
					</div>
					<% i+=1 %>
					<% end %>
				</div>
			</div>	
	
	
					
	</div>
		
	<%= render :partial=>'navigation' %>
	<% end -%>
