<% content_for :question do %><%= title%><% end %>

<% form_for controller_name, :url=>{:action=>'questions', :id=>(@question_number + 1)}, :html=>{:id=>"#{controller_name}_form"} do |f| -%>
	<div class="grid_16 vgutter enclose">
	 

			<div class="grid_15 vgutter enclose">
				<div class="grid_6 prefix_2">&nbsp;</div>
				<div class="grid_3">
					most appealing
				</div>
				<div class="grid_3">
					least appealing
				</div>
			</div>
		
			<div class="grid_15 vgutter enclose">
				<div class="grid_6 prefix_1 suffix_1"><%=MostAppealing.all[0].name%></div>
				<div class="grid_3">
					<%= f.radio_button :most_appealing_id, MostAppealing.all[0].id %>
				</div>
				<div class="grid_3">
					<%= f.radio_button :last_appealing_id, LastAppealing.all[0].id %>
				</div>
			</div>
			
			<div class="grid_15 vgutter enclose">
				<div class="grid_6 prefix_1 suffix_1"><%=MostAppealing.all[1].name%></div>
				<div class="grid_3">
					<%= f.radio_button :most_appealing_id, MostAppealing.all[1].id %>
				</div>	
				<div class="grid_3">
					<%= f.radio_button :last_appealing_id, LastAppealing.all[1].id %>
				</div>
			</div>

			
			<div class="grid_15 vgutter enclose">
				<div class="grid_6 prefix_1 suffix_1"><%=MostAppealing.all[2].name%></div>
				<div class="grid_3">
					<%= f.radio_button :most_appealing_id, MostAppealing.all[2].id %>
				</div>	
				<div class="grid_3">
					<%= f.radio_button :last_appealing_id, LastAppealing.all[2].id %>
				</div>
			</div>
			
			
			<div class="grid_15 vgutter enclose">
				<div class="grid_6 prefix_1 suffix_1"><%=MostAppealing.all[3].name%></div>
				<div class="grid_3">
					<%= f.radio_button :most_appealing_id, MostAppealing.all[3].id %>
				</div>	
				<div class="grid_3">
					<%= f.radio_button :last_appealing_id, LastAppealing.all[3].id %>
				</div>
			</div>		
	</div>
	
	<%= render :partial=>'navigation' %>
<% end -%>


