<% content_for :question do %><%= title%><% end %>

<% form_for controller_name, :url=>{:action=>'questions', :id=>(@question_number + 1)}, :html=>{:id=>"#{controller_name}_form"} do |f| -%>
	<div class="grid_16 vgutter enclose">
			<div class="grid_15 vgutter enclose center">
				<div class="grid_6 prefix_2">&nbsp;</div>
				<div class="grid_2">
					most appealing
				</div>
				<div class="grid_2">
					least appealing
				</div>
			</div>

			<div class="grid_15 vgutter enclose ">
				<div class="grid_6 prefix_1 suffix_1 "><h2><%=MostAppealing.all[0].name%></h2></div>
				<div class="grid_2 markable_item center">
					<%= f.radio_button :most_appealing_id, MostAppealing.all[0].id  %>
					<%= f.label :most_appealing_id, image_tag('yes.png', :alt=>'yes' ) %>
				</div>
				<div class="grid_2 markable_item center">
					<%= f.radio_button :"last_appealing_id", LastAppealing.all[0].id %>
					<%= f.label :last_appealing_id, image_tag('no.png', :alt=>"no" ) %>
				</div>
			</div>
			
			<div class="grid_15 vgutter enclose ">
				<div class="grid_6 prefix_1 suffix_1 "><h2><%=MostAppealing.all[1].name%></h2></div>
				<div class="grid_2 markable_item center">
					<%= f.radio_button :most_appealing_id, MostAppealing.all[1].id %>
					<%= f.label :most_appealing_id, image_tag('yes.png', :alt=>'yes' ) %>
				</div>	
				<div class="grid_2 markable_item center">
					<%= f.radio_button :last_appealing_id, LastAppealing.all[1].id %>
					<%= f.label :last_appealing_id, image_tag('no.png', :alt=>'no' ) %>
				</div>
			</div>

			
			<div class="grid_15 vgutter enclose ">
				<div class="grid_6 prefix_1 suffix_1"><h2><%=MostAppealing.all[2].name%></h2></div>
				<div class="grid_2 markable_item center">
					<%= f.radio_button :most_appealing_id, MostAppealing.all[2].id %>
					<%= f.label :most_appealing_id, image_tag('yes.png', :alt=>'yes' ) %>
				</div>	
				<div class="grid_2 markable_item center">
					<%= f.radio_button :last_appealing_id, LastAppealing.all[2].id %>
					<%= f.label :last_appealing_id, image_tag('no.png', :alt=>'no' ) %>
				</div>
			</div>
			
			
			<div class="grid_15 vgutter enclose ">
				<div class="grid_6 prefix_1 suffix_1"><h2><%=MostAppealing.all[3].name%></h2></div>
				<div class="grid_2 markable_item center">
					<%= f.radio_button :most_appealing_id, MostAppealing.all[3].id %>
					<%= f.label :most_appealing_id, image_tag('yes.png', :alt=>'yes' ) %>
				</div>	
				<div class="grid_2 markable_item center">
					<%= f.radio_button :last_appealing_id, LastAppealing.all[3].id %>
					<%= f.label :last_appealing_id, image_tag('no.png', :alt=>'no' ) %>
				</div>
			</div>		
	</div>
	
	<%= render :partial=>'navigation' %>
<% end -%>


