<% content_for :question do %><%= title %><% end %>
<% form_for controller_name, :url=>{:action=>'questions', :id=>(@question_number + 1)}, :html=>{:id=>"#{controller_name}_form"} do |f| -%>
	<div class="vgutter enclose">
		<div class="grid_16">
			<% i=0 %>
			<% IncomeGroup.all.each do |income_group| %>
				<div class="grid_3 markable_item" style="text-align:center;">
					<%= f.label :"income_group_id_#{income_group.id}", image_tag(income_group.to_img, :alt=>income_group.label) %>
					<br />
					<br />
					<%= f.radio_button :income_group_id, income_group.id %>
					<%= f.label :"income_group_id_#{income_group.id}", income_group.label %>
				</div>
				<% i+= 1 %>
			<% end %>
		</div>
	</div>
			
	<%= render :partial=>'navigation' %>
<% end -%>