
<% content_for :question do %><%= title%><% end %>

	<% form_for controller_name, :url=>{:action=>'questions', :id=>(@question_number + 1)}, :html=>{:id=>"#{controller_name}_form"} do |f| -%>
	
	
	
		<div class="vgutter enclose">
			<div class="grid_12 prefix_2 ">
			
				<div class="grid_4 vgutter"><%=@model::LABELS[:floss]%></div>
				<% i=0 %>
				<% Floss.all.each do |floss| %>
					<div class="grid_2 label1" style="text-align:center;">
					<br />
					<br />
					<%= f.radio_button :floss_id, floss.id %>
					<%= f.label "floss_id_#{floss.id}", floss.name %>
					</div>
				<% i+=1 %>
				<% end %>		
			</div>		
		</div>
		
	<%= render :partial=>'navigation' %>
	<% end -%>

