<% content_for :question do %><%= title %><% end %>

<% form_for controller_name, :url=>{:action=>'questions', :id=>(@question_number + 1)}, :html=>{:id=>"#{controller_name}_form"} do |f| -%>
	<div class="grid_10 prefix_3">
		<div class="grid_4 markable_item" style="text-align:center;">
			<%= f.label :gender_m, image_tag(@colgate.gender_to_img(ColgateSurvey::MALE), :alt=>"Male") %>
			<br />
			<br />
			<%= f.radio_button :gender, 'M' %><%= f.label :gender_m, " Male" %>
		</div>
		<div class="grid_4 markable_item" style="text-align:center;">
			<%= f.label :gender_f, image_tag(@colgate.gender_to_img(ColgateSurvey::FEMALE), :alt=>"Female") %>
			<br />
			<br />
			<%= f.radio_button :gender, 'F' %><%= f.label :gender_f, " Female" %>
		</div>
	</div>
	
	<%= render :partial=>'navigation' %>
<% end -%>