<% content_for :question do %><%= title%>
<br/><div class="write">(Please select one statement for each category.)</div><% end %>

<% form_for controller_name, :url=>{:action=>'questions', :id=>(@question_number + 1)}, :html=>{:id=>"#{controller_name}_form"} do |f| -%>
	<div class="grid_16 vgutter enclose">
			<div class="grid_15 vgutter enclose center">
				<div class="grid_6 prefix_2">&nbsp;</div>
				<div class="grid_2">
					most appealing
				</div>
				<div class="grid_2">
					least appealing
				</div>
			</div>

			<div class="grid_15 vgutter enclose ">

				<div class="grid_6 prefix_1 suffix_1 "><%=MostAppealing.all[0].name%></div>
				<div class="grid_2 center">
					<%= f.radio_button :most_appealing_id, MostAppealing.all[0].id %>
					<%= f.label :"most_appealing_id_#{MostAppealing.all[0].id}", image_tag('yes.png', :alt=>'Most Appealing' ) %>
				</div>
				<div class="grid_2 center">
						<%= f.radio_button :last_appealing_id, LastAppealing.all[0].id %>
					<%= f.label :"last_appealing_id_#{LastAppealing.all[0].id}" , image_tag('no.png', :alt=>'Least Appealing' ) %>
				</div>
			</div>
			
			<div class="grid_15 vgutter enclose ">
				<div class="grid_6 prefix_1 suffix_1 "><%=MostAppealing.all[1].name%></div>
				<div class="grid_2 center">
					<%= f.radio_button :most_appealing_id, MostAppealing.all[1].id %>
					<%= f.label :"most_appealing_id_#{MostAppealing.all[1].id}", image_tag('yes.png', :alt=>'Most Appealing' ) %>
				</div>	
				<div class="grid_2  center">
					<%= f.radio_button :last_appealing_id, LastAppealing.all[1].id %>
					<%= f.label :"last_appealing_id_#{LastAppealing.all[1].id}" , image_tag('no.png', :alt=>'Least Appealing' ) %>	
				</div>
			</div>

			<div class="grid_15 vgutter enclose ">
				<div class="grid_6 prefix_1 suffix_1"><%=MostAppealing.all[2].name%></div>
				<div class="grid_2  center">
					<%= f.radio_button :most_appealing_id, MostAppealing.all[2].id %>
					<%= f.label :"most_appealing_id_#{MostAppealing.all[2].id}", image_tag('yes.png', :alt=>'Most Appealing' ) %>
				</div>	
				<div class="grid_2  center">
					<%= f.radio_button :last_appealing_id, LastAppealing.all[2].id %>
					<%= f.label :"last_appealing_id_#{LastAppealing.all[2].id}" , image_tag('no.png', :alt=>'Least Appealing' ) %>
				</div>
			</div>
			
			
			<div class="grid_15 vgutter enclose ">
				<div class="grid_6 prefix_1 suffix_1"><%=MostAppealing.all[3].name%></div>
				<div class="grid_2  center">

					<%= f.radio_button :most_appealing_id, MostAppealing.all[3].id %>
					<%= f.label :"most_appealing_id_#{MostAppealing.all[3].id}", image_tag('yes.png', :alt=>'Most Appealing' ) %>
				</div>	
				<div class="grid_2  center">
					<%= f.radio_button :last_appealing_id, LastAppealing.all[3].id %>
					<%= f.label :"last_appealing_id_#{LastAppealing.all[3].id}" , image_tag('no.png', :alt=>'Least Appealing' ) %>
				</div>
			</div>		
	</div>
	
	<%= render :partial=>'navigation' %>
<% end -%>


