<% content_for :question do %><%= title %><% end %>
<% form_for controller_name, :url=>{:action=>'questions', :id=>(@question_number + 1)}, :html=>{:id=> "#{controller_name}_form"} do |f| -%>
	<div class="vgutter enclose">
		<div class="grid_2">&nbsp;</div>
		<div class="grid_3">
		<% ColgateWord.all.shuffle.each do |colgate_word| %>
			<div class="draggable" id="<%= dom_id colgate_word %>">
				<%= colgate_word.name %>
			</div>
		<% end %>
		</div>
		<div class="grid_6 prefix_3">
			<div class="droppable luxury_words "id="droppable_1">
				<p>1</p>
			</div>
		</div>
			<div class="grid_6 prefix_3">
				<div class="droppable luxury_words"id="droppable_2">
					<p>2</p>
				</div>
			</div>
				<div class="grid_6 prefix_3">
					<div class="droppable luxury_words"id="droppable_3">
						<p>3</p>
					</div>
				</div>
		
	</div>
			
	<%= render :partial=>'navigation' %>
<% end -%>

<% content_for :javascript do %>

<script type="text/javascript">
	function addToForm(event,ui){
		var substring_index = ui.draggable.attr('id').search(/\d+/);
		var value = ui.draggable.attr('id').substring(substring_index);
		$("#<%= controller_name+'_form'%>").append('<input type="hidden" id="colgate_word_ids_'+ui.draggable.attr('id')+'" name="colgate[colgate_word_ids][]" value="'+value+'" />');
		ui.draggable.addClass("selected");
  var dropped = $(this);
  dropped.droppable( "option", "disabled", true );
  ui.draggable.bind( "drag", function(event, ui) {
    $(this).removeClass("selected");
    dropped.droppable( "option", "disabled", false );
    $('#colgate_word_ids_'+$(this).attr('id')).remove();
  });
	};
	
	$('.draggable').draggable();
	$(".droppable").droppable({
			tolerance: 'touch',
	    drop: addToForm
	 });
 
</script>

<% end %>

