<% form_for @user do |f| %>

	<h1 class="grid_16 center">Edit user '<%= @user.login%>'</h1>
	<div class="grid_16">&nbsp;</div>

	<% unless @user.blank? || @user.errors.blank? %>
	<div class="grid_10 prefix_5"><%= f.error_messages %></div>
	<div class="grid_16">&nbsp;</div>
	<% end %>

	<div class="grid_3 prefix_5"><%= f.label :password %></div>
	<%= f.password_field :password, :class=>'grid_3' %><br class="clear"/>
	<div class="grid_16">&nbsp;</div>

	<div class="grid_3 prefix_5"><%= f.label :password_confirmation %></div>
	<%= f.password_field :password_confirmation, :class=>'grid_3' %><br class="clear"/>
	<div class="grid_16">&nbsp;</div>
	
	<div class="grid_3 prefix_5"><%= f.label :email %></div>
	<%= f.text_field :email, :class=>'grid_3' %><br class="clear"/>
	<div class="grid_16">&nbsp;</div>

	<div class="grid_3 prefix_5">
	<%= f.submit "Edit" %>
	</div>
<% end %>
