<% form_for :user, :action=> :login do |f| %>

	<h1 class="grid_16 center"></h1>
	<div class="grid_16">&nbsp;</div>
<div class="grid_12 prefix_2">	
	<div class="grid_12 e5">	
		<div class="grid_2 e4">
		<img src="images/nu.png" />
		</div>
	
		<div class="grid_6">
				<div class="grid_2 e3"><%= f.label :login %></div>
				<%= f.text_field :login, :class=>'grid_3 e3' %><br class="clear"/>

				<div class="grid_2 "><%= f.label :password %></div>
				<%= f.password_field :password, :class=>'grid_3' %><br class="clear"/>
		</div>
	
		<div class="grid_3">
			<%= f.submit "Login" %>
		</div>
	
		<div class="grid_3">
			<%= link_to "esqueci minha senha?", forgot_password_path %>
		</div>
	
		<% unless flash[:notice].blank? %>
		<div class="grid_12">&nbsp;</div>
		<div class="grid_12 center fieldWithErrors"><%= flash[:notice] %></div>
		<div class="grid_16">&nbsp;</div>
		<% end %>
	</div>	
</div>	
<% end %>
