<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= print_env %>
		Healthy mouth Survey</title>
	<%= stylesheet_link_tag 'grid', 'stylish-select', 'jquery-ui-1.7.2.custom', 'reports'  %>
	<%= javascript_include_tag :defaults, 'fusion_charts' %>
</head>
<body>
	<%= grid_on_off %>
    <div id="container" class="container_16 enclose">
		<div class="header">&nbsp;</div>
		<div class="content body">
			<% unless session[:user].blank? %>
				<div class="grid_14"><span style="float:right">logged in as <%= session[:user].login %> <%= link_to "(logout)", logout_path %> | 
				<%= session[:user].role == User::ADMIN ?
						link_to("manage users", user_index_path) : link_to("edit info", edit_user_path(session[:user])) %> | 
				<%= link_to "reports", reports_path %></span></div>| 
				<a href="survey.pdf">questions</a>				
			<% end %>
			<%= yield %>
		</div>
		<div class="footer">&nbsp;</div>
  	</div>
	<%= yield :javascript %> 
</body>
</html>
